<?xml version="1.0" encoding="UTF-8"?>
<controller-info>
    <controller-host>{{ appd_app_agent_hostname }}</controller-host>
    <controller-port>{{ appd_app_agent_port }}</controller-port>
    <controller-ssl-enabled>{{ appd_app_agent_ssl }}</controller-ssl-enabled>
    <use-simple-hostname>{{ appd_app_agent_simple_hostname }}</use-simple-hostname>
    <account-access-key>{{ appd_app_agent_access_key }}</account-access-key>
    <account-name>{{ appd_app_agent_account_name }}</account-name>

    <application-name>{{ appd_app_agent_application_name }}</application-name>
    <tier-name>{{ appd_app_agent_tier_name }}</tier-name>
    <node-name>{{ appd_app_agent_node_name }}</node-name>
    <agent-runtime-dir>{{ appd_app_agent_runtime_dir }}</agent-runtime-dir>

    <enable-orchestration>false</enable-orchestration>

    <use-encrypted-credentials></use-encrypted-credentials>
    <credential-store-filename></credential-store-filename>
    <credential-store-password></credential-store-password>
    <use-ssl-client-auth>false</use-ssl-client-auth>

    <asymmetric-keystore-filename></asymmetric-keystore-filename>
    <asymmetric-keystore-password></asymmetric-keystore-password>
    <asymmetric-key-password></asymmetric-key-password>
    <asymmetric-key-alias></asymmetric-key-alias>
    <force-agent-registration>false</force-agent-registration>
</controller-info>
