<?xml version="1.0" encoding="UTF-8"?>
<controller-info>
    <controller-host>{{ appd_machine_agent_ctrl_hostname }}</controller-host>
    <controller-port>{{ appd_machine_agent_ctrl_port }}</controller-port>
    <controller-ssl-enabled>{{ appd_machine_agent_ctrl_ssl }}</controller-ssl-enabled>
    <enable-orchestration>false</enable-orchestration>
    <unique-host-id>{{ aws_hostname }}</unique-host-id>
    <account-access-key>{{ appd_machine_agent_ctrl_access_key }}</account-access-key>
    <account-name>{{ appd_machine_agent_ctrl_account_name }}</account-name>
    <sim-enabled>{{ appd_machine_agent_ctrl_sim_enabled }}</sim-enabled>
    <machine-path>{{ appd_machine_agent_ctrl_machine_path }}</machine-path>
</controller-info>
